*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 100px;
}
.container{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.nameHighlite{
    color: orange;
}
.main-page{
    width: 85%;
    margin: auto;
    display: flex;
}
.text-area{
    flex-basis: 50%;
    margin-top: 79px;
}
.image{
    flex-basis: 50%;
}
.image img{
    width: 500px;
    margin: 56px 100px;
}
.paragraph{
    width: 500px;
    margin: 20px 0;
}
h3 {
    margin-top: 50px;
}
a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(orange,salmon,tomato);
    cursor: pointer;
    border-radius: 5%;
    font-weight: 700;
}
img.side-image {
    float: right;
    /* margin-bottom: 200px; */
    position: absolute;
    right: 0;
    top: 233px;
}
.container-final{
    position: relative;
}
